@import "@/assets/_variables.scss";

@mixin neuBorder($shadow-width: 2px) {
  border-radius: 8px;
  box-shadow: $shadow-width $shadow-width 0px 0px black;
}

@mixin iconButton(){
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@mixin neuButton(){
	@include neuBorder();
	border: 3px solid black;
    padding: 0.5em 1.5em;
    font-weight: bold;
    text-transform: uppercase;
	cursor:pointer;
}
